# IDE & System
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
terminals/

# Environment & Secrets (CRITICAL)
.env
.env.*
!env.example

air-quality-esp32/
iot-mesurable/

# Dependencies
node_modules/
package-lock.json
yarn.lock

# PlatformIO (ESP32)
.pio/
.pioenvs/
.piolibdeps/
*.bin
*.elf

# Nuxt (Frontend)
.nuxt/
.output/
dist/
stats.html

# Docker Persistence
docker-data/

# Mosquitto
mosquitto/data/
mosquitto/log/
mosquitto/passwd
